* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  width: 100vh;
  height: 100vw;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4895ef;
}

header h1 {
  font-size: 35px;
  margin-left: 15px;
}

.navegacion {
  font-size: 20px;
  display: flex;
  gap: 25px;
  align-items: center;
  margin-right: 15px;
}
ul.navegacion :nth-child(2) {
  font-weight: bold;
}
li {
  list-style: none;
}

.menu__añadir {
  font-size: 30px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fb5607;
}

a {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

section p {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.menu__lista-compra {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #f77f00;
  border-bottom: 1px solid #ffff;
}

.articulo {
  padding: 0;
  margin-left: 15px;
}

.precio {
  padding: 0;
  margin-right: 15px;
}
.menu__total {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 22px;
  background-color: #f77f00;
}
.menu__total p {
  margin-right: 15px;
  font-size: 30px;
}

.editar {
  margin-left: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  background-color: #f77f00;
}
.editar {
  margin: 15px;
}
.formulario__nombre {
  font-size: 20px;
  margin: 15px;
}
.formulario__precio {
  font-size: 20px;
  margin: 15px;
}

[type="submit"] {
  font-size: 20px;
  height: 50px;
  width: 100px;
  margin-top: 25px;
  margin-left: 15px;
  background-color: #4895ef;
  color: #ffff;
}
